<p class="groupbanner"><%= @group.name %></p>

<div class="membersbox">
	<p class="members"><ul>
		<% @group.pledges.each do |g| %>

		<div class="groupboxmembers" style="display:inline; float:left;">
			
			<p class="members"><ul>
					<p><%= g.name %></p>
	
            <%= link_to 'X', g, method: :delete, style: 'color:red;', data: { confirm: 'Are you sure?' } %>
            

		</div>
		<% end %>
</div>
<%= @total_group_progress%>
<%= @total_in_group%>
<%= @group_quota_sum%>

<input   type="text" value= 3 class="dial" data-readOnly=true>

<script>
$(".dial").knob({
                 'change' : function (v) { console.log(v); }
                });
</script>


<p class="progressbarbanner">Progress for date</p>

<br><hr>
	<div>
   <button class="button success"  data-reveal-id="choremaster" >Add Chore</button>
</div>

  <div id="choremaster" class="reveal-modal" data-reveal>
		<%= render partial: 'chores/forms', :controller=>"chores", :action =>"new" %>

     <a class="close-reveal-modal"></a>
  </div>


		<% @group.chores.each do |c| %>
<div class="groupboxmembers" style="display:inline; float:left;">
			
			<p class="members"><ul>
					<p>Chores: <%= c.name %> (<%= c.points %>)</p>
					<p>Descriptoin:<%= c.description %></p>

	
	
		</div>
			<% end %>

			 <%= button_to 'Delete Group', @group, method: :delete, class: 'button alert expand', data: { confirm: 'Are you sure?' } %>