<h1 id="groupname" class="small-12"><%= @group.name %></h1>

<div class="membersbox">
		<% @group.pledges.each do |g| %>

		<div class="groupboxmembers" style="display:inline; float:left;">
					<span data-tooltip class="has-tip" title="<%= (g.quota / 10 )%>% completed"><p><%= g.name.to_s %></p></span>
	
            <%= link_to 'X', g, method: :delete, style: 'color:red;', data: { confirm: 'Are you sure?' } %>
		</div>
		<% end %>
</div>



<input   type="text" value= <%= @total_group_progress * 100%> class="dial" data-readOnly=true>
<h1><%= @total_group_progress * 100 %>% done</h1>
<script>
$(".dial").knob({
                 'change' : function (v) { console.log(v); }
                });
</script>


<p class="progressbarbanner">Progress for date</p>

<br><hr>
	<div>
   <button class="button success"  data-reveal-id="choremaster" >Add Chore</button>
</div>

  <div id="choremaster" class="reveal-modal" data-reveal>
		<%= render partial: 'chores/forms', :controller=>"chores", :action =>"new" %>

     <a class="close-reveal-modal"></a>
  </div>


		<% @group.chores.each do |c| %>
<div class="groupboxmembers" style="display:inline; float:left;">
			
			<div class="members">
					<p><strong>Chores:</strong> <%= c.name %> (<%= c.points %>)</p>
					<p><strong>Descriptoin: </strong><%= c.description %></div>

	
	
		</div>
			<% end %>

			 <%= button_to 'Delete Group', @group, method: :delete, class: 'button alert expand', data: { confirm: 'Are you sure?' } %>