  <p>All of  <%= @user.name %>'s activity</p>
<% @user each do |s| %>

<div>
	title: <strong><%= s.title %></strong> <br>
  	Body:  <strong><%= s.body %></strong>

  	 <% if (current_user == s.user) %>
            <%= link_to 'Delete', s, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "edit", edit_story_path(s) %>
        <% end %>
<% end %>
</div>