<div class="container">

	<h1><%= @user.name.humanize %></h1>


	<!-- Chorelist -->
	<% if current_user.group_pledged %>
	<div class="row" id="choresection">
		<% @chores_available.each do |c| %>
			<div class=" members  small-12 left column">
				<p><strong>Points:</strong> <%= c.points %></p>
				<p><strong>Chores:</strong> 
				   <%= link_to group_chore_chore_instances_path(current_user.group_pledged.id, c.id), method: :post do %>
					   <%= c.name %> <br>
				   <% end %></p>
				<p><strong>Description: </strong><%= c.description %></p>
			</div>
		<% end %>
	</div>
	<!-- end Chorelist -->

			<% end %>

	</div>
</div>


		