<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<%= form_for [@group, @chore] do |u| %>
        
    <body>

                <div class="row">
                    <div class="small-6  small-offset-3 columns">
                        <h1><strong>Make a new chore</strong></h1>

                        <form role="form">
                            <div class="form-group">
                            <%= u.text_field :name, :placeholder => " Name"  %>
                            </div>
                            <div class="form-group">
                            <%= u.text_field :description, :placeholder => "Description"  %>
                            </div>
                           
                         
                            <%= u.hidden_field :group_id, value: "#{@group.id}" %>
                     
                              <br>
                            <%= u.radio_button :points, '25', :checked => true %> 
                            <%= label :points, '25' %> 
                            <%= u.radio_button :points, '50'  %> 
                            <%= label :points, '50' %>
                            <%= u.radio_button :points, '100' %>
                            <%= label :points, '100' %>
                            <%= u.radio_button :points, '200' %>
                            <%= label :points, '200' %>
                            <%= u.radio_button :points, '300' %>
                            <%= label :points, '300' %>



                                <%= u.submit "Create", class: 'button radius round success' %>
                                   <div>
                           
                        </div>
                            </div>

                        </form>

                       
                     
                </div>
                <div class="login-popup">
                
                </div>
            </div>
          
    </body>


                
<% end %>