<%= form_for [@group, @chore] do |u| %>
        
    <body>

                <div class="row">
                    <div class="small-6  small-offset-3 columns">
                        <h1><strong>Make a new chore</strong></h1>

                        <form role="form">
                            <div class="form-group">
                            <%= u.text_field :name, :placeholder => " Name"  %>
                            </div>
                            <div class="form-group">
                            <%= u.text_field :description, :placeholder => "Description"  %>
                            </div>
                           
                         
                            <%= u.hidden_field :group_id, value: "#{@group.id}" %>
                     
                              <br>
                                <%= u.submit "Sign-Up", class: 'button success' %>
                                   <div>
                           <button class="button alert"  data-reveal-id="loginmodal" >Already a member? Log-In!</button>
                        </div>
                            </div>

                        </form>

                       
                     
                </div>
                <div class="login-popup">
                
                </div>
            </div>
           
    </body>

                
<% end %>